.Testimonials-section-container {
    margin: 0 auto;
    padding: 100px 0;
    background-color: #495E57 ;
    border-radius: 2%;
}

.Testimonials-section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-menu {
    padding: 15px 45px;
}


@media screen and (max-width: 1024px) {
    .Testimonial-section-container {
        width: 100%;
        padding-top: 150px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .Testimonial-section-title h1 {
        line-height: 0.8;
        margin: 20px 0 20px;
        font-size: 50px;
    }

    .btn-menu {
        margin-bottom: 30px;
        font-size: smaller;
    }

    
}

@media screen and (max-width: 852px) {
    .Testimonial-section-container {
        padding-top: 100px;
    }
}




@media screen and (max-width: 659px) {
    .Testimonial-section-title {
        flex-direction: column;
        align-items:flex-start;
    }

}
.Testimonial-card {
    display:flex;
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
}
.Testimonial-card-container {
    background-color: #edefee;
    border-radius: 20px 20px 0 0;
    width: 95%;

}

.Testimonial-card-text {
    padding: 30px 20px 40px;
}

.Testimonial-card-title {
    display: flex;
    justify-content: space-between;
}

.price-tag {
    color: #ee9972
}

.Testimonial-card-text p {
    font-size: 16pt;
    line-height: 1.2;
    margin: 30px 0 50px;
}

.Testimonial-card-text h4 {
    font-size: 14pt;
    display: flex;
    align-items: center;
    text-align: end;
}

.image-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 20px 20px 0 0;
}

.image-container img {
    width: 100%;
}


@media screen and (max-width: 1040px) {
    .Testimonial-card {
        grid-template-columns: 47% 47%;
    }
}

@media screen and (max-width: 659px) {
    .Testimonial-card {
        display: flex;
        flex-direction: column;
    }

    .Testimonial-card-text p, h3 {
        font-size: smaller;
    }

    .Testimonial-card-text h4 {
        font-size: smaller;
    }

    .image-container {
        height: 200px;
    }
}